<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyMapper-Cocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftyMapper-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftyMapper-watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftyMapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D03CD7A1C5E150D0059EAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D03CD841C5E150D0059EAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DCFCF2E1C7B4B16008ECFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DCFCF3B1C7B4B28008ECFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DCFCF441C7B4B29008ECFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DCFCF571C7B4B38008ECFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DCFCF601C7B4B39008ECFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DCFCF8A1C7B4DB0008ECFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
